<script setup>
import { ref, reactive } from 'vue'
import { useDatosStore } from './../store/datosApp';
import { useRouter } from 'vue-router'; // Importar el enrutador

const router = useRouter(); // Obtener una referencia al enrutador
let procesado=ref(false)
const store = useDatosStore()
const fileInput = ref(null);
const datos = reactive([])
const procesar = () => {
    const file = fileInput.value.files[0];
    const reader = new FileReader();
    store.loadClientes(file)
    procesado.value=true
}
const resaltar=(d)=>{
    store.clientes.forEach((item)=>item.activo=false)
    d.activo=true
}
const irSotear=()=>{
    router.push('/sorteo');
}
</script>
<template>
    <div v-if="procesado==false">
        <label>Seleccionar Plantilla</label>
        <input type="file" ref="fileInput"
            class="border-2 p-2 rounded-lg w-full outline-0 hover:border-blue-400 focus:border-blue-400" />
    </div>
    <div>
        <button v-on:click="procesar" class="bg-blue-500 rounded text-white p-1">
            Procesar Clientes
        </button>
        <button v-on:click="irSotear" class="bg-blue-500 rounded text-white p-1 ml-4">
            Ir a Sortear
        </button>
    </div>

    <div class="p-2" >
        <table >
            <thead>
                <tr class="bg-slate-200">
                    <td class="bg-slate-200 border px-3"> Distrito </td>
                    <td>Nº de Clientes</td>
                    <td v-for="(regalo, index) in store.regalos">
                        {{ regalo.nombre }}
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(distrito, index) in store.clientes" :class="[distrito.activo?'bg-slate-200':'']">
                    <td >
                        {{ distrito.nombre }}
                    </td>
                    <td>
                        {{ distrito.clientes.length }}
                    </td>
                    <td v-for="(regalo, index) in store.regalos">
                       <input v-on:focus="resaltar(distrito)"  v-model="regalo.distritos.find((item)=>item.id==distrito.id).cantidad " class="border-2 p-2 w-full outline-0 hover:border-blue-400 focus:border-blue-400" :class="[distrito.activo?'bg-slate-100':'']" type="number"/>  
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>
<style></style>