<script setup>
import { ref } from 'vue'
import { useDatosStore } from './../store/datosApp';
import { useRouter } from 'vue-router'; // Importar el enrutador

const store = useDatosStore()
const router = useRouter(); // Obtener una referencia al enrutador


let user=ref('');
let pwd=ref('');
const acceder = () => {
    if (user.value === 'admin' && pwd.value === 'electro23.'){
        store.isLoginOk()
    //console.log(response.data)
    router.push('/dashboard');
    }else{
        alert('Error de acceso')
    }
    
}

</script>
<template>
    <div class="flex fondo w-full h-screen bg-slate-100  relative justify-center items-center overflow-hidden">
        <!--<div class="flex justify-between absolute w-full -top-24">
            <img class="transform scale-x-[-1] -ml-20" src="./../assets/adorno.png">
            <img class="-mr-20" src="./../assets/adorno.png">
        </div>
        <div class="flex justify-center mt-8">
            <img class="w-1/4" src="./../assets/titulo.png">
        </div>-->
        <div class="bg-slate-100 rounded-xl shadow mt-10 w-1/5 mx-auto relative z-50">
            <div class="flex justify-center text-center rounded-lg bg-white p-4">
                <img class="w-[120px]" src="./../assets/logo.png" />
            </div>
            <div class="p-4  my-2 pt-4">
                <div class="flex flex-col">
                    <label>Usuario</label>
                    <input type="text" v-model="user"
                        class="border-2 p-2 rounded-lg w-full outline-0 hover:border-blue-400 focus:border-blue-400" />
                </div>
                <div class="flex flex-col">
                    <label>Constraseña</label>
                    <input v-model="pwd" type="password"
                        class="border-2 p-2 rounded-lg w-full outline-0 hover:border-blue-400 focus:border-blue-400" />
                </div>
                <div class="flex justify-center">
                    <button v-on:click="acceder()" class="bg-blue-500 mt-6  py-2 px-3  rounded text-white hover:bg-blue-700">
                        Acceder al sistema
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>
<style>
.fondo {

    background: rgb(61, 68, 255);
    background: url('./../assets/base.jpg');
    position: relative;

}

.izquierda {
    background-image: url('');
    width: 100px;
    height: 300px;
}

.fondo::before {
    content: "*";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*background-image: url('./../assets/nieve.png');*/
    opacity: 0.1;
    /* Opacidad del 50% para la imagen de nieve */
}</style>